.tweeter-user-header {
  /* position: fixed; */
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #d3a12d;
  /* background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png"); */
}

/* .user-name-banner {

} */