header {
  /* position: fixed;
  z-index: 1; */
  height: 400px;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edae97;
  background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");
}