main {
  /* position: fixed;
  z-index: 1; */
  /* height: 400px; */
  width: 90%;
  /* display: flex;
  flex-direction: column;
  justify-self: center; */
  /* align-items: center; */
  /* background-color: #edae97;
  background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png"); */
}