
nav {

  /* left: 0; */
  /* z-index: 100; */
  height: 120px;
  width: 100%;
  background-color: #d3a12d;
  color: #FFFFFF;

  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweeter-logo {
  font-family: 'Bungee', cursive;
  font-size: 40px;
  display: flex;
}

.write-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-a-new-tweet {
  display: flex;
  flex-direction: row;
}

.a-new-tweet {
  white-space: pre;
}


.bounce {
  font-size: 17px;
  color:red;
  cursor: pointer;
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}





